body {
	background-color: rgb(147, 184, 72);
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}


#heading
{
	background-color: rgb(85, 130, 60);
	color: white;
}
#nav
{
	background-color: rgb(85, 130, 60);
	margin: auto;
}

p
{
	color: white;
}