
body {
	background-color: rgb(147, 184, 72);
}

a {
	text-decoration: none;
	color: white;
}

#intro {
	background-color: rgb(85, 130, 60);
	color: white;
	text-align: center;
}

#nav
{
	background-color: rgb(85, 130, 60);
	margin: auto;
}

#Block
{
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
	float: left;
	background-color: rgb(85, 130, 60);
	color: white;
}
td
{
color: white;

}

p
{
	color: white;
}