
body {
	background-color: rgb(147, 184, 72);
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

#intro {
	background-color: rgb(85, 130, 60);
}

#nav
{
	background-color: rgb(85, 130, 60);
	border: 5px;
	border-color: white;
	color: white;
	text-align: center;
}
