<<<<<<< HEAD
body {
	background-color: rgb(147, 184, 72);
}

a {
	text-decoration: none;
=======
body {
	background-color: rgb(147, 184, 72);
}

a {
	text-decoration: none;
>>>>>>> d2248ed069cd9afe2d3283e8a655500357a90de5
}